@tailwind base;
@tailwind components;
@tailwind utilities;

#invoice-printable {
  max-width: 210mm;
  margin: 0 auto;
}

@media print {
  body * {
    visibility: hidden;
  }
  #invoice-printable, #invoice-printable * {
    visibility: visible;
  }
  #invoice-printable {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm;
  }
}

.concert-grid-card {
  width: 300px;
  height: 200px;
}
