@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body text-textBase bg-background;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading;
}

#invoice-printable {
  max-width: 210mm;
  margin: 0 auto;
}

@media print {
  body * {
    visibility: hidden;
  }
  #invoice-printable, #invoice-printable * {
    visibility: visible;
    font-family: 'Inter', sans-serif;
    color: #000;
  }
  #invoice-printable {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm;
  }
}

.concert-grid-card {
  width: 300px;
  height: 200px;
}
